{% extends 'base,html.twig' %}


{% block body %}
<h1>{{title}}</h1>

<div>
        Bible Books :
    
    <ul>
        {% for book in books %}
            <li>{{book}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}